@tailwind base;
@tailwind components;
@tailwind utilities;

body {  
  background: #010E28 !important;
  overflow-x: hidden !important;
  font-family: 'Work Sans' !important;
  max-width: 100% !important;

}

.red {
  color: red;
}

input,
textarea {
  background-color: #010E28 !important;
  padding: 15px !important;
}

input::placeholder {
  color: #8D8D8D !important;

}

.border-raduios-50 {
  border-radius: 50% !important;
}

a {
  text-decoration: none;
}

p {
  color: #FFF;
  font-family: "Work Sans" !important;

  font-style: normal !important;

}


.slugon {
  color: #FFF !important;
  font-family: "Work Sans";
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 150% !important;
  margin-top: 20px;
  margin-bottom: 26px;
  /* 96px */
  text-transform: capitalize !important;
}

.about-text {
  font-family: "Work Sans" !important;
}

.row {
  max-width: 100% !important;
}

.w-90 {
  width: 95% !important;
}

.earth-bg {
  position: relative;
}


.earth-bg img {
  display: block;
}


.earth-bg::before {
  content: "";
  position: absolute;
  filter: blur(225px);
  width: 621px;
  height: 374px;
  top: 10px;
  /* Adjust the vertical position of the shadow */
  left: 20px;
  /* Adjust the horizontal position of the shadow */
  background-color: #A51252;
  /* Adjust the shadow color and opacity */
  z-index: -1;
  /* Place the shadow behind the image */
  border-radius: 5px;
  /* Add rounded corners to the shadow */
  box-shadow: 5px 5px 10px rgba(#A51252, #A51252, #A51252, 0.5);
  /* Add a box shadow to the shadow itself */
}



.navbar-links {
  color: #808693;
  text-decoration: none;
}

.navbar-links:hover {
  text-decoration: underline white;
  cursor: pointer;
  color: white !important;
}

.active {
  color: white;
}



.phone-input {

  background-color: #3e3e55 !important;
  color: white !important;
  /* border-radius: 30px !important;  */
  padding: 10px !important;
  /* margin-left: 20px !important; */
}

.phone-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1;
  padding: 20px;
  /* Firefox */

}

.Request-call {
  background-color: #3e3e55 !important;
  color: white !important;
  padding: 10px !important;
  margin-left: 10px ;

}



.background-image {
  width: 100% !important;
  height: 100% !important;
}

.overlay-image {
  position: absolute;
  top: -10%;
  left: -30%;
  width: 50%;
  /* Adjust the size and position as needed */
  height: 50%;
}

.bottom-image {
  position: absolute;
  bottom: -10%;
  left: -30%;
  width: 50%;
  /* Adjust the size as needed */
  height: 50%;
}

.counter-title {
  color: rgba(255, 255, 255, 0.80) !important;
  text-align: center !important;
  font-family: 'Work Sans' !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  text-transform: capitalize !important;
}

.counter-number {

  color: #E7267A !important;
  text-align: center !important;
  font-family: 'Work Sans' !important;
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.WeCreateExperiencesThatPutPeopleInPrimarily::before {
  position: absolute;
  left: 196px;
  top: 123px;
  width: 53.314px;
  height: 58.411px;
  transform: rotate(95.346deg);
  background-color: #A51252;
}

.image-container::before {
  content: "";
  position: absolute;
  filter: blur(225px);
  width: 621px;
  height: 374px;
  top: 10px;
  /* Adjust the vertical position of the shadow */
  left: 20px;
  /* Adjust the horizontal position of the shadow */
  background-color: #A51252;
  /* Adjust the shadow color and opacity */
  z-index: -1;
  /* Place the shadow behind the image */
  border-radius: 5px;
  /* Add rounded corners to the shadow */
  box-shadow: 5px 5px 10px rgba(#A51252, #A51252, #A51252, 0.5);
  /* Add a box shadow to the shadow itself */
}

.quote-pargraph {
  color: #FFF;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.quote-mark {
  width: 42px;
  height: 42px;
  color: #E7267A;
}

.gold {
  color: yellow;
  margin-right: 7px;
}

.card-img-top {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  width: 60px !important;
  height: 60px;
}

.card {
  margin-top: 30px;
  padding-top: 30px;
}



.projects-bg {
  border-radius: 16px;
  background: #0F1933;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width:768px) {
  .about-text {
    background: linear-gradient(180deg, #451d44, #151b34);
    ;
    border-top-left-radius: 24px !important;
    border-bottom-left-radius: 24px !important;
    /* border-radius: 50px;/ */
  }
 
  P {
    font-size: 16px !important;
  }
  .sm-submit-btn{
    width: 50%;
    margin: 15px auto;
  }
  .about-img {
    display: none;
  }
  
  .about-text {
    margin: auto !important;
  }
  
  .about-text {
    background: linear-gradient(180deg, #451d44, #151b34);
    ;
    border-top-right-radius: 24px !important;
    border-bottom-right-radius: 24px !important;
  }
  .about-us {
    width: 90% !important;
    font-size: 16px !important;
    background-color: unset !important;
    margin: auto !important;
  
  }
  
  .counter-number,
  .counter-title {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .project_Image {
    width: 50%;
    height: 50%;
  }
  
  .project-image-container {
    margin: 30px auto !important;
    max-width: 100%;
  }
  
  .about-us h2 {
    font-size: 40px !important;
    text-align: center !important;
  }
  
  .about-us p {
    text-align: center !important;
  }
  
  p {
    font-size: 16px;
  }
  
  .Hero h1 {
    text-align: center;
  
  }
  
  
  .clients-num {
  color: #E7267A !important;
  }
  
  .image-container {
  position: relative;
  
  width: 75%;
  height: 90%;
  }
  .WeCreateExperiencesThatPutPeopleInPrimarily {
    font-size: 16px;
  }
  
  .image-container {
  
  
    width: 75%;
    height: 90%;
  }
  
  
  .phone-sm-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-us {
    margin: auto;
  }

  .phone-input {
    width: 100% !important;

  }

  .Small-text-smScreens {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 24px;
    /* 150% */
    text-align: center;
    text-transform: capitalize;
  }

  .justify-center-sm {
    justify-content: center !important;
  }

  .sm-width-height {
    width: 100px !important;
    height: 100px !important;
    position: none !important;
  }

  .services-contariner {
    width: 250px !important;
    height: 300px !important;
    text-align: center;
    margin: auto;
  }

  .services-contariner>div {
    justify-content: center;
    width: auto;
  }


  footer .logo-container {
    display: flex;
    justify-content: center;
  }

  footer a {
    color: var(--White, #FFF);
    font-family: "Work Sans";
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal !important;
    margin-bottom: 14px !important;
  }

  .services-contariner p {
    color: rgba(255, 255, 255, 0.80);
    font-family: "Work Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
  }

  .text-center-sm {
    text-align: center;
  }

  .phone-containe div {
    text-align: center;
  }
}
