@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Define a linear gradient background */
  background: #010E28 !important;
  /* Replace these colors with your desired ones */
  /* Other styles for your body element */

  font-family: 'Work Sans' !important;
  max-width: 100% !important;

}

p {
  color: #FFF;
  font-family: "Work Sans" !important;
  font-size: 20px !important;
  line-height: 40px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 160% !important;
}


.slugon {
  color: #FFF !important;
  font-family: "Work Sans";
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 150% !important;
  margin-top: 20px;
  margin-bottom: 26px;
  /* 96px */
  text-transform: capitalize !important;
}

.about-text {
  font-family: "Work Sans" !important;
}

.row {
  max-width: 100% !important;
}

.w-90 {
  width: 95% !important;
}

.earth-bg {
  position: relative;
}


.earth-bg img {
  display: block;
}



.about-us {}



.earth-bg::before {
  content: "";
  position: absolute;
  filter: blur(225px);
  width: 621px;
  height: 374px;
  top: 10px;
  /* Adjust the vertical position of the shadow */
  left: 10px;
  /* Adjust the horizontal position of the shadow */
  background-color: #A51252;
  /* Adjust the shadow color and opacity */
  z-index: -1;
  /* Place the shadow behind the image */
  border-radius: 5px;
  /* Add rounded corners to the shadow */
  box-shadow: 5px 5px 10px rgba(#A51252, #A51252, #A51252, 0.5);
  /* Add a box shadow to the shadow itself */
}



.navbar-links {
  color: #808693;
  text-decoration: none;
}

.navbar-links:hover {
  text-decoration: underline white;
  cursor: pointer;
  color: white !important;
}

.active {
  color: white;
}

.box {

  width: 479px;
  height: 26px;
  stroke-width: 8px;
  stroke: #E7267A;
  flex-shrink: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  border: solid 5px #E7267A;
  border-color: #E7267A transparent transparent transparent;
  border-radius: 60%/100px 100px 0 0;
}

@media screen and (max-width:600px) {
  P {
    text-align: center;
  }
}

.phone-input {
  width: 50% !important;
  background-color: #3e3e55 !important;
  color: white !important;
  /* border-radius: 30px !important; */
  padding: 15px !important;
  margin-left: 20px !important;
}

.phone-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1;
  /* Firefox */

}

.Request-call {
  background-color: #3e3e55 !important;
  color: white !important;
  /* border-radius: 30px !important; */
  margin-right: 30px !important;
  padding: 15px !important;
}

@media screen and (max-width:600px) {
  .phone-container {
    display: block;

  }

  .phone-input {
    width: 100% !important;
    margin: 30PX !important;
  }

  .phone-containe div {
    text-align: center;
  }
}

.about-text {
  background: linear-gradient(180deg, #451d44, #151b34);
  ;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  /* border-radius: 50px; */
}

@media screen and (max-width:1140px) {
  .about-img {
    display: none;
  }

  .about-text {
    margin: auto !important;
  }

  .about-text {
    background: linear-gradient(180deg, #451d44, #151b34);
    ;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
  }
}

@media screen and (max-width:600px) {
  .about-us {
    width: 90% !important;
    font-size: 16px !important;
    background-color: unset !important;
    margin: auto !important;
  }

  .about-us h2 {
    font-size: 40px !important;
    text-align: center !important;
  }

  .about-us p {
    text-align: center !important;
  }

  .Hero h1 {
    text-align: center;

  }
}

.clients-num {
  color: #E7267A !important;
}

.image-container {
  position: relative;
  width: 300px;
  /* Adjust the width and height as needed */
  height: 200px;
}

.background-image {
  width: 100% !important;
  height: 100% !important;
}

.overlay-image {
  position: absolute;
  top: -10%;
  left: -30%;
  width: 50%;
  /* Adjust the size and position as needed */
  height: 50%;
}

.bottom-image {
  position: absolute;
  bottom: -10%;
  left: -30%;
  width: 50%;
  /* Adjust the size as needed */
  height: 50%;
}